# Virtuoso files /data/db
/data/db/*
/data/*
/data/exports/*
/data/db/virtuoso.ini
!/data/db/toLoad
!/data/db/toLoad/*
/data/files/*
data/
data_*
.vscode/
.DS_Store
*~

!/tmp/
tmp/*

docker-compose.override.yml
.htpasswd
.env
.vscode
.vscode/*
checkUsage.sh